
a.no-underline {
  text-decoration: none;
}

.last-login {
  font-size: 0.75rem;
}

.scrollable-list {
  max-height: 600px; 
  overflow-y: auto;
}

.bg-white {
  background-color: white;
}


.toast-animation {
  /* transform: translateY(20px); */
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    tranform: translateY(0);
  }
}

.icon-primary {
    fill: #5d6cb0;
    height: 20px;
    width: 20px;
}




/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 4px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #717b7e; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c6468; 
}