{% extends "layout.html" %}
{% block main %}
    <main>
        <div class="container">
            <div class="justify-content-center d-flex">
                <div class="col-6 my-4">
                    <form id="loginForm">
                        <div class="mb-3">
                            <label for="username" class="form-label text-primary">Username</label>
                            <input type="text" class="form-control border-primary bg-white" id="username">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label text-primary">Password</label>
                            <input type="password" class="form-control border-primary bg-white" id="password">
                        </div>
                        <button type="submit" class="btn btn-primary text-light fw-medium px-4 shadow">Login</button>
                        <div>
                            <p class="lead pt-3 fs-6 fw-semibold text-info"> If you're not registered yet <a class="link" href="/register">click here</a> to register.</p>
                        </div>
                        <div>
                            <p class="lead pt-4 fs-6 fw-semibold text-info">
                                Read here the
                                <a href="https://github.com/asahria2006/the-cantine"
                                    target="_blank"
                                    class="text-primary">documentation
                                </a>.
                            </p>
                        </div>
                    </form>

                    <div>
                        <p class="lead pt-3 fs-6 fw-bold text-success"> To test the application click here:</p>
                        <button id="demoLogin" class="btn btn-success text-light fw-medium px-4 shadow">Demo Login</button>
                    </div>
                </div>
            </div>
            
        </div>
        
    </main>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script> 
    
    <script>
    </script>
{% endblock %}